.App {
  font-family: sans-serif;
  text-align: center;
}

.playlist{
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 750%;
  background: linear-gradient(to right , #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5%;
  border-image: 10%;
  outline-color:white;
}

.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.superImage {
  position: absolute;
}

.button{
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 250%;
}
.btn-pulse{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  height: 200px;
  width: 200px;
  margin: 50px auto 0;
  display: table-cell;
  border: 3px solid #db2763;
  border-radius: 100px;
  position: relative;
  transition: all .3s .15s ease-in-out;
  vertical-align: middle;
  padding: 0px 20px;
  animation: btnPulse 2s infinite forwards ease;
  overflow: hidden;
}
.wrapper{
  display: table;
  width: 200px;
  margin: 50px auto 0;
  /* align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center; */
  font-size: 250%;

}

.btn-pulse:hover{
  background-color: #db2763 ;
}

@keyframes btnPulse{
  0%{
    box-shadow: 0 0 0 0 rgba(219, 39, 99, .5);
  }
  70%{
    box-shadow: 0 0 0 20px rgba(219, 39, 99, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(219, 39, 99, 0);
  }
}